
body {
  background-color: white;
  color: black;
  font-size: 12pt;
  font-family: serif;
}

/* Page layout */
#content {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

#pageheader {
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 32pt;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  border-bottom: 4px solid black;
  margin-bottom: 0.25em;
}
#header-right {
  display: flex;
  flex-direction: column-reverse;
}
#sitetitle {
  font-weight: normal;
}
#sitetitle a {
  text-decoration: none;
  color: black;
}
#quicklinks {
  text-align: right;
  font-size: 10pt;
  font-style: italic;
  font-weight: normal;
  padding-bottom: 0.2em;
}
#quicklinks a {
  color: blue;
}

#footer {
  clear: both;
  grid-area: footer;
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px dotted black;
  text-align: center;
  font-size: 90%;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

/* Header Styles */
h1 {
  font-family: sans-serif;
  font-size: 36pt;
  margin-top: 0;
  margin-bottom: 0;
}

/* Page Content styles */
p {
  text-indent: 1.5em;
}

/* Table Styles */
table {
  border-collapse: collapse;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}
th {
  color: #FFF;
  background-color: #000;
  vertical-align: bottom;
}
td, th {
  padding: 0.2em 0.5em;
}
tr {
  background-color: #FFF;
}
tr:nth-child(odd) {
  background-color: #CCC;
}
